<h2>Remove</h2>

<h3>Are you sure to want remove this record?</h3>

<div>
    <h4>Sneaker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>brandName</dt>
        <dd>{{ vm.model.brandName }}</dd>

        <dt>model</dt>
        <dd>{{ vm.model.model }}</dd>

        <dt>price</dt>
        <dd>{{ vm.model.price }}</dd>

        <dt>releaseDate</dt>
        <dd>{{ vm.model.releaseDate | date:'dd/MM/yyyy'}}</dd>
    </dl>

    <div class="form-actions no-color">
        <a ng-click="vm.remove(vm.model._id)" class="btn btn-default">Delete</a>
        <a ng-click="vm.cancel()" class="btn btn-small">Cancel</a>
    </div>
</div>
